body{
    padding: 100px;
}
.shadow{
    margin-top: 50px;
    
    border-radius: 10px solid grey;
    
    padding: 40px;
}
.transare{
    display: none;
}

.deposit{
    background-color: aqua;
}
.withdrow{
    background-color: beige;
}
.total{
    background-color: palevioletred;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
      width: 100%;
    }
  }