body{
    padding: 100px;
}
.shadow{
    margin-top: 50px;
    
    border-radius: 10px solid grey;
    
    padding: 40px;
}
#bgSucces{
width: 600px;
height: 400px;
background-color: aqua;
display: none;

}